/* general */

* {
    font-family: "Changa", sans-serif;
}

header {
    height: 100px;
}

.logo {
    width: 100px;
}

main {
    height: calc(100vh - 170px);
    background-color: black;
}

#squareContainer {
    width: 1006px;
    height: calc(100vh - 170px);
    overflow-y: auto;

    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;

    border-right: 3px solid rgb(2, 250, 238);
    border-bottom: 3px solid rgb(2, 250, 238);
    border-left: 3px solid rgb(179, 24, 182);
    border-top: 3px solid rgb(179, 24, 182);
}

#squareContainer :nth-child(even) {
    background-color: rgba(255, 255, 255, 0.199);
}

#squareContainer :nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.225);
}

#squareContainer>* {
    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    line-height: 0.6rem;
    font-size: 1.2rem;

    cursor: pointer;
}

/* #square {
    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    line-height: 0.6rem;
    font-size: 1.2rem;
} */

.squareSelected {
    border-top: 3px solid rgb(2, 250, 238);
    border-right: 3px solid rgb(179, 24, 182);
    border-bottom: 3px solid rgb(179, 24, 182);
    border-left: 3px solid rgb(2, 250, 238);

    background-color: #efb1f3;
    background-image: linear-gradient(135deg, #efb1f3 0%, #8ef2fc 100%);
}

footer {
    height: 70px;
}